{% extends 'core/base.html' %}
{% load static %}

{% block title %}Freex - Catálogo{% endblock %}
{% block titulo %} Catálogo {% endblock %}
{% block subtitulo %} Las mejores opciones disponibles para ti {% endblock %}
{% block imagen-cabecera %} {% static 'core/img/home2-bg.jpg' %} {% endblock %}

{% block content %}
<!-- Contenido Principal -->
<div class="container">
  <!-- Catalogo -->
  {% for prestador in prestadores %}
    <div class="row">   
      <div class="col-lg-3 col-md-4 offset-lg-1">
        <img class="img-fluid" src="{% static 'core/img/avatar.jpg' %}" alt="">
      </div>
      <div class="col-lg-7 col-md-8">
        <h2>{{prestador.nommbres}}</h2>
        <p> {{prestador.pais}}
        <p> {{prestador.ciudad}}
        <a href="#">Enlace</a></p>
      </div>
    </div>
    <hr>
  {% endfor %}
</div>
{% endblock %}
