{% extends 'core/base.html' %}
{% load static %}

{% block title %}Freex - Catálogo{% endblock %}
{% block titulo %} Catálogo {% endblock %}
{% block subtitulo %} Las mejores opciones disponibles para ti {% endblock %}
{% block imagen-cabecera %} {% static 'core/img/home2-bg.jpg' %} {% endblock %}

{% block content %}
<!-- Contenido Principal -->
<!-- Catalogo -->
    <div class="container">
      <div class="row">   
      {% for prestador in prestadores %}
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" style="height: 18rem;" src="{{ prestador.foto_perfil.url }}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"> {{ prestador.nombres }} </h5>
            <p class="card-text"> {{ prestador.descripcion|truncatechars:200 }} </p>
            <a href="#" class="btn btn-primary">Contactar</a>
          </div>
        </div>
      {% endfor %}
      </div>
    </div>
{% endblock %}
